$font-family: "Google Sans Code", monospace;
$color-bg-start: #eee;
$color-bg-end: #ccc;

$color-primary: #3a7bd5;
$color-primary-hover: #2763b7;
$color-bg: #fff;
$color-border: #d6d6d6;
$color-text: #000;
$shadow: 0 25px 50px -12px rgba(159, 159, 159, 0.8);
$radius: 8px;
$gap-small: 8px;
$gap-medium: 12px;
$font-size-large: 32px;
$font-size-small: 14px;
